<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= expense.expense_name %></title>
  </head>
  <body>
    <div class="button-container">
      <a href="/" class="button">Home</a>

      <a href="/expense/<%= expense._id %>/edit"
        >Update <%= expense.expense_name %></a
      >
    </div>
    <h1>Expense:</h1>
    <h2><%= expense.expense_name %></h2>
    <p>Cost: $<%= expense.amount %></p>
    <form action="/expense/<%= expense._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Expense</button>
    </form>
  </body>
</html>
